body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.grid-container {
  border: 1px solid;
  min-width: 600px;
  min-height: 600px;
  max-width: 600px;
  max-height: 600px;
}

.row {
  display: flex;
}

.square {
  margin: 0;
  width: 100%;
  height: 100%;
  /* border: 1px solid; */
}

.square::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.grid-size,
#erase,
.color-picker {
  margin-bottom: 15px;
}

p {
  margin: 0;
}
